* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
}

body {
    background: LightSalmon;
}

.he,
.tl {
    border-bottom: 3px solid Salmon;
}

.t {
    text-align: center;
    height: 70px;
    font-size: 50px;
    line-height: 70px;
    color: Gold;
    text-shadow: 0 3px 0 SlateGray;
}

.w,
.tl,
.tw,
.c,
.tr:nth-of-type(1):checked ~ .tw .tc:nth-of-type(1),
.tr:nth-of-type(2):checked ~ .tw .tc:nth-of-type(2),
.tr:nth-of-type(3):checked ~ .tw .tc:nth-of-type(3),
.tr:nth-of-type(4):checked ~ .tw .tc:nth-of-type(4),
.tr:nth-of-type(5):checked ~ .tw .tc:nth-of-type(5),
.tr:nth-of-type(6):checked ~ .tw .tc:nth-of-type(6),
.tr:nth-of-type(7):checked ~ .tw .tc:nth-of-type(7),
.tr:nth-of-type(8):checked ~ .tw .tc:nth-of-type(8) {
    display: flex;
}

.w {
    flex-wrap: wrap;
}

.tw,
.c,
.tc {
    flex-direction: column;
}

.tl,
.tc,
.tw,
.c {
    justify-content: center;
}

.tl,
.tc,
.c {
    align-items: center;
}

.tw {
    align-content: center;
}

.tr,
.cr,
.ey,
.n,
.m,
.ea,
.ey:after,
.cr[value="hm"]:checked ~ .tw .c .f:after,
.cr[value="hm"]:checked ~ .tw .c .f:before,
.cr[value="hl"]:checked ~ .tw .c .f:after,
.cr[value="hl"]:checked ~ .tw .c .f:before {
    position: absolute;
}

.tr,
.cr {
    left: -9999px;
}

.tr:checked + .tl,
.tw {
    background: SlateGray;
}

.tl,
.tc {
    padding: 10px;
}

.tl {
    height: 50px;
    cursor: pointer;
    border-right: 3px solid Salmon;
    flex: 1 1 20%;
}

@media screen and (min-width: 800px) {
    .tl {
        flex: 1 1 auto;
    }

    .tl:last-of-type {
        border-right: none;
    }
}

.tl:hover {
    background: Salmon;
}

.tl {
    color: White;
}

.tw {
    min-height: calc(100vh - 123px);
    width: 100%;
}

.tc {
    display: none;
    background: White;
}

.tc,
.c {
    height: calc((100vh - 153px) / 2);
    min-height: 300px;
    margin: 10px 10px 0;
}

.c {
    margin-bottom: 10px;
}

.h,
.f {
    width: 15vmin;
    min-width: 100px;
    position: relative;
}

.h,
.ey {
    min-height: 20px;
}

.h,
.m,
.cr[value="hm"]:checked ~ .tw .c .f:after,
.cr[value="hm"]:checked ~ .tw .c .f:before,
.cr[value="hl"]:checked ~ .tw .c .f:after,
.cr[value="hl"]:checked ~ .tw .c .f:before {
    border-radius: 5px;
}

.h {
    height: 3vmin;
    top: 5px;
}

.f,
.ea {
    background: SandyBrown;
}

.f {
    height: 20vmin;
    min-height: 150px;
    margin: 0 auto;
    border-radius: 5px 5px 5vmin 5vmin;
}

.ey {
    height: 1vmin;
    width: 2vmin;
    min-width: 30px;
    border-radius: 50%;
    background: White;
    top: 25%;
}

.eyl {
    right: calc(50% + 1vmin);
}

.eyr {
    left: calc(50% + 1vmin);
}

.ey:after {
    content: "";
    border-radius: 50%;
    width: 9px;
    height: 9px;
    top: calc(50% - 4px);
    left: calc(50%);
    background: DodgerBlue;
}

.n {
    height: 4vmin;
    min-height: 40px;
    border-radius: 0 0 10px 10px;
    border: 1px solid Chocolate;
    border-top: 0;
    bottom: calc(45% - 2vmin);
}

.n:before,
.n:after {
    content: "";
    min-width: 6px;
    height: 8px;
    position: absolute;
    border: 1px solid Chocolate;
    bottom: 5px;
}

.n:before {
    right: 100%;
    border-radius: 4px 0 0 4px;
    border-right: 0;
}

.n:after {
    left: 100%;
    border-radius: 0 4px 4px 0;
    border-left: 0;
}

.m {
    background: Tomato;
    border-top: 0;
    left: calc(50% - 3vmin);
    width: 6vmin;
    min-width: 40px;
    top: 72.5%;
}

.m:after {
    content: "";
    height: 2px;
    border-radius: 1px;
    position: absolute;
    left: 5px;
    right: 5px;
    top: calc(50% - 1px);
    background: LightSalmon;
}

.ea {
    height: 4vmin;
    width: 1vmin;
    min-height: 40px;
    min-width: 10px;
    top: 45%;
    z-index: 1;
}

.eal {
    border-radius: 5px 0 0 5px;
    right: 100%;
}

.ear {
    border-radius: 0 5px 5px 0;
    left: 100%;
}

.cl {
    border: 3px solid transparent;
}

.cr[value="fl"]:checked ~ .tw .tc .cl[for="fl"],
.cr[value="fm"]:checked ~ .tw .tc .cl[for="fm"],
.cr[value="fd"]:checked ~ .tw .tc .cl[for="fd"],
.cr[value="fs"]:checked ~ .tw .tc .cl[for="fs"],
.cr[value="fr"]:checked ~ .tw .tc .cl[for="fr"],
.cr[value="fo"]:checked ~ .tw .tc .cl[for="fo"],
.cr[value="hb"]:checked ~ .tw .tc .cl[for="hb"],
.cr[value="hs"]:checked ~ .tw .tc .cl[for="hs"],
.cr[value="hm"]:checked ~ .tw .tc .cl[for="hm"],
.cr[value="hl"]:checked ~ .tw .tc .cl[for="hl"],
.cr[value="hbl"]:checked ~ .tw .tc .cl[for="hbl"],
.cr[value="hbr"]:checked ~ .tw .tc .cl[for="hbr"],
.cr[value="hd"]:checked ~ .tw .tc .cl[for="hd"],
.cr[value="eg"]:checked ~ .tw .tc .cl[for="eg"],
.cr[value="ebl"]:checked ~ .tw .tc .cl[for="ebl"],
.cr[value="eb"]:checked ~ .tw .tc .cl[for="eb"],
.cr[value="en"]:checked ~ .tw .tc .cl[for="en"],
.cr[value="er"]:checked ~ .tw .tc .cl[for="er"],
.cr[value="ew"]:checked ~ .tw .tc .cl[for="ew"],
.cr[value="nn"]:checked ~ .tw .tc .cl[for="nn"],
.cr[value="nr"]:checked ~ .tw .tc .cl[for="nr"],
.cr[value="nw"]:checked ~ .tw .tc .cl[for="nw"],
.cr[value="mt"]:checked ~ .tw .tc .cl[for="mt"],
.cr[value="mr"]:checked ~ .tw .tc .cl[for="mr"],
.cr[value="mf"]:checked ~ .tw .tc .cl[for="mf"] {
    border-color: SlateGray;
}


.cr[value="fl"]:checked ~ .tw .c .f,
.cr[value="fl"]:checked ~ .tw .c .f .ea {
    background: PeachPuff;
}

.cr[value="fd"]:checked ~ .tw .c .f,
.cr[value="fd"]:checked ~ .tw .c .f .ea {
    background: Sienna;
}

.cr[value="fs"]:checked ~ .tw .c .f {
    border-radius: 5px 5px 1vmin 1vmin;
}

.cr[value="fo"]:checked ~ .tw .c .f {
    border-radius: 5px 5px 10vmin 10vmin;
}

.cr[value="hm"]:checked ~ .tw .c .h,
.cr[value="hm"]:checked ~ .tw .c .h,
.cr[value="hl"]:checked ~ .tw .c .h,
.cr[value="hl"]:checked ~ .tw .c .h {
    border-radius: 0;
}

.cr[value="hm"]:checked ~ .tw .c .f:after,
.cr[value="hm"]:checked ~ .tw .c .f:before,
.cr[value="hl"]:checked ~ .tw .c .f:after,
.cr[value="hl"]:checked ~ .tw .c .f:before {
    content: "";
    top: calc(-3vmin + 5px);
    width: 20px;
    height: 67.5%;
    display: block;
}

.h,
.cr[value="hm"]:checked ~ .tw .c .f:after,
.cr[value="hm"]:checked ~ .tw .c .f:before,
.cr[value="hl"]:checked ~ .tw .c .f:after,
.cr[value="hl"]:checked ~ .tw .c .f:before {
    background: Chocolate;
}

.cr[value="hl"]:checked ~ .tw .c .f:after,
.cr[value="hl"]:checked ~ .tw .c .f:before {
    height: 130%;
}

.cr[value="hm"]:checked ~ .tw .c .f:after,
.cr[value="hl"]:checked ~ .tw .c .f:after {
    left: 100%;
    border-radius: 0 5px 5px 5px;
}

.cr[value="hm"]:checked ~ .tw .c .f:before,
.cr[value="hl"]:checked ~ .tw .c .f:before {
    right: 100%;
    border-radius: 5px 0 5px 5px;
}

.cr[value="hbl"]:checked ~ .tw .c .f:after,
.cr[value="hbl"]:checked ~ .tw .c .f:before,
.cr[value="hbl"]:checked ~ .tw .c .h {
    background: Ivory;
}

.cr[value="hd"]:checked ~ .tw .c .f:after,
.cr[value="hd"]:checked ~ .tw .c .f:before,
.cr[value="hd"]:checked ~ .tw .c .h {
    background: Black;
}

.cr[value="hb"]:checked ~ .tw .c .h {
    background: transparent;
}

.cr[value="eg"]:checked ~ .tw .c .ey:after {
    background: Olive;
}

.cr[value="eb"]:checked ~ .tw .c .ey:after {
    background: SaddleBrown;
}

.cr[value="en"]:checked ~ .tw .c .ea {
    width: .5vmin;
    min-width: 5px;
}

.cr[value="ew"]:checked ~ .tw .c .ea {
    width: 1.5vmin;
    min-width: 15px;
}

.cr[value="mt"]:checked ~ .tw .c .m {
    min-height: 8px;
}

.cr[value="mr"]:checked ~ .tw .c .m {
    min-height: 12px;
}

.cr[value="mf"]:checked ~ .tw .c .m {
    min-height: 16px;
}

.cr[value="nn"]:checked ~ .tw .c .n {
    min-width: 16px;
    left: calc(50% - 8px);
}

.cr[value="nr"]:checked ~ .tw .c .n {
    min-width: 20px;
    left: calc(50% - 10px);
}

.cr[value="nw"]:checked ~ .tw .c .n {
    min-width: 24px;
    left: calc(50% - 12px);
}
