* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html, body {
    min-height: 100vh
}

html {
    font-size: 62.5%
}

body {
    _background: #2980b9;
    color: #3498db;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1.5rem;
    line-height: 2
}

.w {
    display: flex;
    flex-wrap: wrap
}

.tl {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    padding: 1rem;
    cursor: pointer;
    background: #fff
}

.tc {
    flex: 1 1 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: #3498db;
    color: #fff;
    display: none
}

.tl:hover {
    background: #F2F2F2
}

.tr, .cr {
    position: absolute;
    left: -999rem
}

.cl {
    padding: 1rem;
    text-align: center;
    display: inline-block;
    width: 150px;
    cursor: pointer
}

.tr:nth-of-type(1):checked~.tc:nth-of-type(1), .tr:nth-of-type(2):checked~.tc:nth-of-type(2), .tr:nth-of-type(3):checked~.tc:nth-of-type(3), .tr:nth-of-type(4):checked~.tc:nth-of-type(4), .tr:nth-of-type(5):checked~.tc:nth-of-type(5), .tr:nth-of-type(6):checked~.tc:nth-of-type(6), .tr:nth-of-type(7):checked~.tc:nth-of-type(7), .tr:nth-of-type(8):checked~.tc:nth-of-type(8) {
    display: block
}

.tr:nth-of-type(1):checked+.tl, .tr:nth-of-type(2):checked+.tl, .tr:nth-of-type(3):checked+.tl, .tr:nth-of-type(4):checked+.tl, .tr:nth-of-type(5):checked+.tl, .tr:nth-of-type(6):checked+.tl, .tr:nth-of-type(7):checked+.tl, .tr:nth-of-type(8):checked+.tl {
    background: #3498db;
    color: #fff
}

.cr[value="fl"]:checked~.tc .cl[for="fl"], .cr[value="fm"]:checked~.tc .cl[for="fm"], .cr[value="fd"]:checked~.tc .cl[for="fd"], .cr[value="fs"]:checked~.tc .cl[for="fs"], .cr[value="fr"]:checked~.tc .cl[for="fr"], .cr[value="fo"]:checked~.tc .cl[for="fo"], .cr[value="hb"]:checked~.tc .cl[for="hb"], .cr[value="hs"]:checked~.tc .cl[for="hs"], .cr[value="hm"]:checked~.tc .cl[for="hm"], .cr[value="hl"]:checked~.tc .cl[for="hl"], .cr[value="hbl"]:checked~.tc .cl[for="hbl"], .cr[value="hbr"]:checked~.tc .cl[for="hbr"], .cr[value="hd"]:checked~.tc .cl[for="hd"], .cr[value="eg"]:checked~.tc .cl[for="eg"], .cr[value="ebl"]:checked~.tc .cl[for="ebl"], .cr[value="eb"]:checked~.tc .cl[for="eb"], .cr[value="en"]:checked~.tc .cl[for="en"], .cr[value="er"]:checked~.tc .cl[for="er"], .cr[value="ew"]:checked~.tc .cl[for="ew"], .cr[value="nn"]:checked~.tc .cl[for="nn"], .cr[value="nr"]:checked~.tc .cl[for="nr"], .cr[value="nw"]:checked~.tc .cl[for="nw"], .cr[value="mt"]:checked~.tc .cl[for="mt"], .cr[value="mr"]:checked~.tc .cl[for="mr"], .cr[value="mf"]:checked~.tc .cl[for="mf"] {
    background: #fff;
    color: #3498db
}

.c {
    width: 15rem;
    margin: 10rem auto;
    position: relative
}

.h {
    position: absolute;
    top: -2rem;
    left: -1rem;
    right: -1rem;
    height: 10rem;
    background: #974B17;
    z-index: 0;
    border-radius: 4.5rem 4.5rem 2rem 2rem
}

.f {
    width: 15rem;
    height: 20rem;
    background: #FDD09F;
    z-index: 1;
    position: relative;
    border-radius: 3.5rem 3.5rem 5rem 5rem
}

.ey {
    height: 1.5rem;
    width: 3rem;
    background: #fff;
    border-radius: 2.5rem;
    position: absolute;
    top: 6.5rem
}

.ey:before {
    content: "";
    position: absolute;
    top: -1rem;
    height: .2rem;
    width: 3rem;
    border-radius: 1rem;
    background: #974B17
}

.ey:after {
    content: "";
    position: absolute;
    top: .25rem;
    left: 1.5rem;
    height: 1rem;
    width: 1rem;
    border-radius: .5rem;
    background: #2980b9
}

.eyl {
    right: calc(50% + 1.25rem)
}

.eyl:before {
    transform: rotate(-2deg)
}

.eyr {
    left: calc(50% + 1.25rem)
}

.eyr:before {
    transform: rotate(2deg)
}

.ea {
    height: 4rem;
    width: 1rem;
    background: #FDD09F;
    position: absolute;
    top: 8rem
}

.eal {
    border-radius: 1rem .5rem .5rem 1rem;
    right: 100%
}

.ear {
    border-radius: .5rem 1rem 1rem .5rem;
    left: 100%
}

.n {
    height: 2rem;
    width: 1rem;
    left: calc(50% - .5rem);
    position: absolute;
    top: 10rem;
    border-bottom: .2rem solid #000;
    border-right: .2rem solid #000;
    border-bottom-right-radius: .5rem
}

.m {
    height: 1.25rem;
    width: 5rem;
    position: absolute;
    top: 14rem;
    left: calc(50% - 2.5rem);
    background: #DF554F;
    border-radius: 1rem;
    transform: rotate(2deg)
}

.m:after {
    content: "";
    position: absolute;
    top: calc(50% - .05rem);
    height: .1rem;
    width: 3.5rem;
    right: .5rem;
    background: #414040
}

.cr[value="fm"]:checked~.c .f, .cr[value="fm"]:checked~.c .f .ea {
    background: #D6976B
}

.cr[value="fd"]:checked~.c .f, .cr[value="fd"]:checked~.c .f .ea {
    background: #492E25
}

.cr[value="fs"]:checked~.c .f {
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem
}

.cr[value="fo"]:checked~.c .f {
    border-bottom-left-radius: 7.5rem;
    border-bottom-right-radius: 7.5rem
}

.cr[value="hs"]:checked~.c .h {
    height: 6rem;
    border-radius: 2rem 2rem 0 0;
    left: 0;
    right: 0
}

.cr[value="hl"]:checked~.c .h {
    height: 25rem;
    left: -2rem;
    right: -2rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.cr[value="hbl"]:checked~.c .h, .cr[value="hbl"]:checked~.c .ey:before {
    background: #FFFCD6
}

.cr[value="hd"]:checked~.c .h, .cr[value="hd"]:checked~.c .ey:before {
    background: #0A0A0A
}

.cr[value="hb"]:checked~.c .h {
    background: transparent
}

.cr[value="eg"]:checked~.c .ey:after {
    background: #16a085
}

.cr[value="eb"]:checked~.c .ey:after {
    background: #974B17
}

.cr[value="en"]:checked~.c .ea {
    width: .75rem
}

.cr[value="ew"]:checked~.c .ea {
    width: 1.25rem
}

.cr[value="nn"]:checked~.c .n {
    width: .75rem;
    left: calc(50% - .25rem)
}

.cr[value="nw"]:checked~.c .n {
    width: 1.25rem;
    left: calc(50% - .75rem)
}

.cr[value="mt"]:checked~.c .m {
    height: 1rem
}

.cr[value="mf"]:checked~.c .m {
    height: 1.5rem
}

.b {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 1rem 3rem;
    border: 0;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-family: inherit;
    font-size: 1.5rem;
    line-height: 2;
    background: #3498db;
    color: #fff;
    border: .2rem solid #3498db;
}

.b:hover,
.b:focus,
.b:active {
    border-color: #2980b9;
    cursor: pointer;
}
